DATABASE_URL="postgresql://postgres:postgres@localhost:5432/scania?schema=public"
JWT_SECRET=""
JWT_REFRESH_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
PORT=3000
FRONTEND_URL="http://localhost:4200"
